  <!-- # festival show -->


<div class="container">
  <div class="column-left left-image">
    <h2> <%= @festival.name %></h2>
    <h3>Description</h3>
    <%= @festival.description %>
    <h3>Line Up</h3>

    #Hier moet de lineup komen!!

  </div>
  <div class="column-right">
    <div class="right-photo">
      <a href="#"><p>Hier komt de google map</p></a>
    </div>
    <div class="right-photo">
      <a href=#><p> <%= @festival.photo %></p></a>
    </div>
    </div>
  </div>
</div>
