

<div class="container">
  <div class="column-left left-image">
    Festival info
    <h1><%= puts "#{[:name]}" =></h1>
    <h3></h3>
  </div>
  <div class="column-right">
    <div class="right-photo">
      <a href="#"><p>Hier komt de google map</p></a>
    </div>
    <div class="right-photo">
      <a href=#><p>Hier komt de foto ..... </p></a>
    </div>
    </div>
  </div>
</div>
