<h1>Artists</h1>

<br />
<% @artists.each do |artist| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to artist.name, artist %></h3>

  </div>
  <div class="panel-body">

      <p> Genre: <%= artist.genre %></p>
      <p> Country: <%= artist.country %></p>

  </div>
</div>
  <% end %>
