
<div class="container">


  <div class="row">
      <!-- Column for name, description .. -->
    <div class="col-md-8">
    <h2 class="show-title"> <%= @artist.name %></h2>
    <br />

    <h3>Genre </h3>
    <%= @artist.genre %>
    <h3>Description</h3>
    <%= @artist.description %>
    <h3>Upcoming Festivals</h3>


    # Here will be the upcoming festivals

  </div>


  <!-- Column for time, location .. -->
    <div class="col-md-4">
        <p> <%= image_tag @artist.photo %></p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>
