<h1>..festival name</h1>

<div class="container">
  <div class="column-left left-image">
  </div>
  <div class="column-right">
    <div class="country-button">
      <a href="bali.html"><p class='centertext'>Hier komt de google map</p></a>
    </div>
    <div class="country-button">
      <a href=#><p class='centertext'>Hier komt de foto ..... </p></a>
    </div>
    </div>
  </div>
</div>
