<h1>Festifinder</h1>
<h2><span class="slogan"><em>Where's the party @?</em></span></h2>

<!-- ZOEKFUNCTIE -->
<br />
<br />
<br />
<div class="input-group search-bar">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>

<br />
<br />
<br />
<br />


<!-- Colommen voor de knoppen -->
<div class="container">
  <div class="row">

    <div class="col-md-3 homebutton"><a href="/festival"><p>Calendar<p></a></div>

    <div class="col-md-3 homebutton"><a href="/artist">Artists</div>
    <div class="col-md-3 homebutton"><a href="/signup">Sign up!</div>
  </div>
</div>
